/*
NoMethodError: undefined method `specificity' for [:not(.name)]:Array

Backtrace:
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:96:in `block in _specificity'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:94:in `each'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:94:in `_specificity'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:86:in `specificity'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:96:in `block in _specificity'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:94:in `each'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:94:in `_specificity'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:86:in `specificity'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/sequence.rb:550:in `block (3 levels) in trim'
/Users/bradweaver/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/2.0.0/set.rb:232:in `each_key'
/Users/bradweaver/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/2.0.0/set.rb:232:in `each'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/sequence.rb:549:in `map'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/sequence.rb:549:in `block (2 levels) in trim'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/sequence.rb:544:in `reject'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/sequence.rb:544:in `block in trim'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/sequence.rb:543:in `each'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/sequence.rb:543:in `each_with_index'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/sequence.rb:543:in `trim'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/sequence.rb:123:in `do_extend'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/comma_sequence.rb:71:in `block in do_extend'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/comma_sequence.rb:70:in `map'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/selector/comma_sequence.rb:70:in `do_extend'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:44:in `visit_rule'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:37:in `visit_children'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:38:in `visit'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:15:in `visit'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/root_node.rb:39:in `css_tree'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/tree/root_node.rb:20:in `render'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/engine.rb:268:in `render'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/bradweaver/ninelabs/ninelabs.com/_plugins/generator_scss.rb:13:in `block in generate'
/Users/bradweaver/ninelabs/ninelabs.com/_plugins/generator_scss.rb:12:in `chdir'
/Users/bradweaver/ninelabs/ninelabs.com/_plugins/generator_scss.rb:12:in `generate'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/jekyll-2.4.0/lib/jekyll/site.rb:251:in `block in generate'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/jekyll-2.4.0/lib/jekyll/site.rb:250:in `each'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/jekyll-2.4.0/lib/jekyll/site.rb:250:in `generate'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/jekyll-2.4.0/lib/jekyll/site.rb:45:in `process'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/jekyll-2.4.0/lib/jekyll/command.rb:28:in `process_site'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/jekyll-watch-1.1.1/lib/jekyll/watcher.rb:41:in `block in listen_handler'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.11/lib/listen/listener.rb:282:in `call'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.11/lib/listen/listener.rb:282:in `_process_changes'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.11/lib/listen/listener.rb:239:in `block in _wait_for_changes'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.11/lib/listen/listener.rb:222:in `loop'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.11/lib/listen/listener.rb:222:in `_wait_for_changes'
/Users/bradweaver/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.7.11/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "NoMethodError: undefined method `specificity' for [:not(.name)]:Array"; }
