---
layout: default
title: Startup Branding
pid: starup
---

<section id="startups">
  <header>
    <hgroup>
      <p><small><a href="/startups/">&laquo; More Services for Startups</a></small></p>
      <h1>Startup Branding</h1>
    </hgroup>
  </header>
  {% include startup-aside.html %}
  <article>
    <div>
      <h4>Your brand is much more than a logo.</h4>
      <p>A well conceived name and logo will communicate your message and mission in a way words are unable to (remember, <i>a picture is worth a thousand words</i>).</p>
      <h4>The Value of Great Branding</h4>
      <ol>
        <li>Your brand serves as the mental bookmark in the minds of the public for your organization and what it does. </li>
        <li>It's a reference point and cornerstone for future branding and marketing efforts.</li>
        <li>Clear usage guidelines will ensure your brand is used in a consistent manner, which communicates professionalism and trustworthiness to the general public.</li>
        <li>Clear usage guidelines simplify the process for all other design projects.</li>
      </ol>
      <hr>
      <p>Our <a href="/about/">brand specialists</a> will work with you to understand and codify the precise message you wish to communicate through your brand identity.</p>
      <h4>What you&rsquo;ll get:</h4>
      <ul>
        <li>Strategic Planning and Discovery session with your key stakeholders.
          <ul>
            <li>We will discuss your goals and ambitions, and how we should best communicate your message to the public. Limited to two hours.</li>
          </ul>
        </li>
        <li>Logo ideation in two iterations:
          <ul>
            <li><b>Concepting</b> We will show you no more than three concepts and then work with you to discuss the merits of each and decide which one will become the final Logo.</li>
            <li><b>Development:</b> We will create the final Logo according to the outcome of the concepting meeting.</li>
          </ul>
        </li>
        <li>Creation of Identity Package
          <ul>
            <li>Final Logo in full-color and black and white versions.</li>
            <li>Typographic kit including one headline and one body copy typeface.</li>
            <li>Color palette consisting of no more than three colors.</li>
          </ul>
        </li>
        <li>Creation of basic Usage Guidelines Document including:
          <ul>
            <li>Logo sizing, clear-space, and positioning guidelines</li>
            <li>Color usage guidelines</li>
            <li>Typeface usage guidelines</li>
          </ul>
        </li>
        <li>Final Delivery Meeting: We will discuss the final Logo and Usage Guidelines Document with your key stakeholders so that you have a solid understanding of what you’ve received and how it should be used.</li>
      </ul>
      <p>Here you can see <a href="">AWDG Brand Guidelines</a>. <a href="https://www.behance.net/gallery/2167023/Logos">More Samples</a></p>

    </div>
  </article>
</section>

{% include footer-contact.html %}

<div class="quotes well">
  <h3>Testimonials</h3>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/wendy-kemp.jpg" alt="Wendy Kemp"></div>
      <div class="media-body">
        <p>When we hired Nine Labs, our project had stalled out with another firm.  The team at Nine Labs took the time to understand our brand and our vision. They delivered a customized website in the promised timeframe. Thanks, Nine Labs!</p>
        <cite><strong>Wendy Kemp</strong> <span>Managing Partner / <a href="http://www.brickhouseresources.com">Brickhouse Resources</a></span></cite>
      </div>
    </div>
  </div>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/amy-hoover.jpg" alt="Amy Hoover"></div>
      <div class="media-body">
        <p>They took the time to ask questions and really understand our brand and its goals. We were able to work with them to get a finished product quickly and efficiently. I loved working with the whole team. They&rsquo;re fun and listened to what I needed. Top notch firm.</p>
        <cite><strong>Amy Hoover</strong> <span>President / <a href="http://www.strongboxwest.com">Strongbox West</a></span></cite>
      </div>
    </div>
  </div>
</div>