---
layout: default
title: Startup Pitch Decks
pid: startups
---

<section id="startups">
  <header>
    <hgroup>
      <p><small><a href="/startups/">&laquo; More Services for Startups</a></small></p>
      <h1>Startup Pitch Decks</h1>
    </hgroup>
  </header>
  <article>
    <h4>Powerful Storytelling that Captures Attention.</h4>

    <h4>What you&rsquo;ll get:</h4>

  </article>
  {% include startup-aside.html %}
</section>

{% include footer-contact.html %}

<div class="quotes well">
  <h3>Testimonials</h3>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/wendy-kemp.jpg" alt="Wendy Kemp"></div>
      <div class="media-body">
        <p>When we hired Nine Labs, our project had stalled out with another firm.  The team at Nine Labs took the time to understand our brand and our vision. They delivered a customized website in the promised timeframe. Thanks, Nine Labs!</p>
        <cite><strong>Wendy Kemp</strong> <span>Managing Partner / <a href="http://www.brickhouseresources.com">Brickhouse Resources</a></span></cite>
      </div>
    </div>
  </div>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/amy-hoover.jpg" alt="Amy Hoover"></div>
      <div class="media-body">
        <p>They took the time to ask questions and really understand our brand and its goals. We were able to work with them to get a finished product quickly and efficiently. I loved working with the whole team. They&rsquo;re fun and listened to what I needed. Top notch firm.</p>
        <cite><strong>Amy Hoover</strong> <span>President / <a href="http://www.strongboxwest.com">Strongbox West</a></span></cite>
      </div>
    </div>
  </div>
</div>