<header class="site-header {{ page.pid }}-header">
  <section class="navigation">
    <a href="/" class="logo">NINE LABS</a>
  <nav class="nav-collapse" role="navigation">
    <ul>
      <li><a{% if page.pid == 'services' %} class="active"{% endif %} href="/services/">Our Services</a></li>
      <li><a{% if page.pid == 'approach' %} class="active"{% endif %} href="/approach/">Our Approach</a></li>
      <li><a{% if page.pid == 'clients' %} class="active"{% endif %} href="/clients/">Client List</a></li>
      <li><a{% if page.pid == 'about' %} class="active"{% endif %} href="/about/">About Us</a></li>
      <li><a{% if page.pid == 'contact' %} class="active"{% endif %} href="/contact/">Contact</a></li>
    </ul>
  </nav>
</section>
</header>
