
<form class="simple-contact" accept-charset="UTF-8" action="http://app.ninelabs.com/proc.php" method="POST" enctype="multipart/form-data">
  <h3 style="margin:0">You&rsquo;re just a few clicks away from discovering what we can do for your company.</h3>
  <p>Get our experts on your side. Schedule a 20 minute call to find out how.</p>
  <input type="hidden" name="f" value="44">
  <input type="hidden" name="s" value="">
  <input type="hidden" name="c" value="0">
  <input type="hidden" name="m" value="0">
  <input type="hidden" name="act" value="sub">
  <input type="hidden" name="nlbox[]" value="3">
  <input type="hidden" name="field[3]" value="{{ page.title }}">
  <div class="group-half">
    <label for="inf_field_FirstName">Your First Name</label>
    <input type="text" name="firstname">
  </div>
  <div class="group-half">
    <label for="inf_field_LastName">Your Last Name</label>
    <input type="text" name="lastname">
  </div>
  <div class="group-full">
    <label for="inf_field_Email">Your Best Email Address</label>
    <input type="email" name="email">
  </div>
  <div class="group-full">
    <button class="btn" type="submit">Let&rsquo;s Talk <i class="fa fa-arrow-right"></i></button>
  </div>
</form>
