<footer>
  <nav class="services">
    <a href="/approach/">Approach</a> &middot;
    <a href="/express/">Express</a> &middot;
    <a href="/short-term/">Short-Term</a> &middot;
    <a href="/projects/">Projects</a> &middot;
    <a href="/ongoing/">Ongoing</a> &middot;
    <a href="/startups/">For Startups</a>
  </nav>
  <nav class="information">
    <a href="/notes/">Notes</a> &middot;
    <a href="/about/">About</a> &middot;
    <a href="/reputation/">Reputation</a> &middot;
    <a href="/community/">Community</a> &middot;
    <a href="/docs/">Legal Docs</a> &middot;
    <a href="/contact/">Contact</a>
  </nav>
  <p class="social"><a href="https://twitter.com/ninelabs"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/ninelabsllc"><i class="fa fa-facebook"></i></a> <a href="https://www.linkedin.com/company/nine-labs/"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/ninelabs"><i class="fa fa-github"></i></a></p>
  <p class="copyright">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Nine Labs // LLF&amp;DL</p>
  <a href="/">
    <svg id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 792 612" style="enable-background:new 0 0 792 612;" xml:space="preserve">
    <g>
      <g class="brand-mark">
        <polygon points="175.2,229.3 135,548.5 312.9,548.5    "/>
        <polygon points="483.1,63.5 657,63.5 617.9,377.1    "/>
        <polygon points="384,63.5 137.4,63.5 225.1,119.7 409.4,548.5 592.5,548.5    "/>
      </g>
    </g>
  </svg>
</a>
</footer>