<footer>
  <nav class="work">
    <a href="/work/">What We Do</a>
    <a href="/work/startups/">For Startups</a>
    <a href="/notes/">Lab Notes</a>
  </nav>
  <nav class="approach">
    <a href="/approach/">Our Approach</a>
    <a href="/approach/express.html">Express Critiques</a>
    <a href="/approach/short-term.html">Short-Term Consulting</a>
    <a href="/approach/projects.html">Design and Strategy Projects</a>
  </nav>
  <nav class="about">
    <a href="/about/">About Us</a>
    <a href="/about/team.html">Meet the Team</a>
    <a href="/about/reputation.html">Our Reputation</a>
    <a href="/about/partners.html">Technology Partners</a>
    <a href="/jobs/">Job Openings</a>
  </nav>
  <nav class="social">
    <a href="/contact/">Contact Us</a>
    <a href="https://twitter.com/ninelabs"><i class="fa fa-twitter-square"></i> Twitter</a>
    <a href="https://www.facebook.com/ninelabsllc"><i class="fa fa-facebook-square"></i> Facebook</a>
    <a href="https://www.linkedin.com/company/nine-labs/"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
    <a href="https://github.com/ninelabs"><i class="fa fa-github-square"></i> Github</a>
  </nav>
  <p class="copyright"><a href="/docs/">Our Legal Docs</a> // &copy; {{ site.time | date: "%Y" }} Nine Labs // LLF&amp;DL</p>
  <a href="/">
    <svg id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 792 612" style="enable-background:new 0 0 792 612;" xml:space="preserve"><g><g class="brand-mark"><polygon points="175.2,229.3 135,548.5 312.9,548.5"/><polygon points="483.1,63.5 657,63.5 617.9,377.1"/><polygon points="384,63.5 137.4,63.5 225.1,119.7 409.4,548.5 592.5,548.5"/></g></g></svg>
  </a>
</footer>