<footer>

<h4>Work</h4>
<ul>
<li>Overview</li>
<li>Our Services</li>
<li>Our Approach</li>
<li>Growth Driven Design</li>
<li>The RAD Framework</li>
<li>Experts On-Demand</li>
</ul>

<h4>About</h4>
<ul>
<li>Client List</li>
<li>Our Team</li>
<li>Our Thoughts</li>
<li>Company Culture</li>
<li>Legal Docs</li>
</ul>

<h4>Atlanta Headquarters</h4>
<p>1040 West Marietta Street NW<br>
Atlanta, GA 30318<br>
+1.678.561.6463<br>
hello@ninelabs.com</p>

<h4>Have a Project For Us?</h4>
<a href="/contact/">Get In Touch</a>


<p>&copy; {{ site.time | date: "%Y" }} Nine Labs // LLF&amp;DL</p>
  <a href="/">NINE LABS</a>
</footer>
