{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}
{% assign allpages = (site.pages | sort: 'weight', 'last') %}

<nav class="local-nav">
  {% for node in allpages %}
  {% if node.url contains base_url and node.nav != 'exclude' %}
  {% assign node_url_parts = node.url | split: '/' %}
  {% assign node_url_parts_size = node_url_parts | size %}
  {% assign filename = node_url_parts | last %}
  {% if url_parts_size == node_url_parts_size %}
  <a href='{{node.url}}'{% if page.url == node.url %} class="active"{% endif %}>{{node.title}}</a>
  {% endif %}
  {% endif %}
  {% endfor %}
</nav>