<section id="team-member">
  <header>
    <hgroup>
      <h1>{{ member.name }}</h1>
    </hgroup>
  </header>

  <div class="member-page">
    <aside class="member-meta meta">
      <img src="/img/people/{{ member.name-tokenized}}.jpg">
      <h5>Elsewhere</h5>
      <span class="elsewhere">
        {% if member.twitter %}<a href="{{ member.twitter }}"><i class="fa fa-twitter-square"></i></a>{% endif %}
        {% if member.facebook %}<a href="{{ member.facebook }}"><i class="fa fa-facebook-square"></i></a>{% endif %}
        {% if member.linkedin %}<a href="{{ member.linkedin }}"><i class="fa fa-linkedin-square"></i></a>{% endif %}
        {% if member.instagram %}<a href="{{ member.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}
        {% if member.github %}<a href="{{ member.github }}"><i class="fa fa-github-square"></i></a>{% endif %}
        {% if member.dribbble %}<a href="{{ member.dribbble }}"><i class="fa fa-dribbble"></i></a>{% endif %}
        {% if member.website %}<a href="{{ member.website }}"><i class="fa fa-external-link-square"></i></a>{% endif %}
      </span>
      <p><a href="/about/">&laquo; Back to The Team</a></p>
    </aside>
    <div class="member-info">
      <h2 class="member-title">{{ member.role }}</h2>
      <div class="membr-bio">
        {{ member.bio | markdownify }}
      </div>
      <div class="member-skills">
        {% for skill in member.skills %}
        <span class="member-skill">{{ skill }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% include footer-contact.html %}