---
layout: default
title: Our Experience
pid: experience
---

<section id="team">
  <header>
    <hgroup>
      <h1>Use our experience to create yours.</h1>
    </hgroup>
  </header>

  <p class="lead">Imagine if you played guitar every day for 20 years.</p>
  <p>You&rsquo;d probably be pretty good. Now imagine you’re in a band with people who’ve been playing as long as you have. That band would be really, really good.</p>
  <p>That band is us, but we create digital expereinces instead of music. Add us all up and we&rsquo;ve been doing it for 51 years. We&rsquo;ve seen the birth of ecommerce, the .com bubble and bust, and the rise of social media.</p>
  <p>We’ve seen just about every strategy you can think of. Hell, we’ve tried most of them. We know what works, what doesn’t, and we have the scars to prove it. </p>
  <p>Let’s have coffee. We’ll tell you some good stories.</p>
  <h2>The Team</h2>
  <div class="the-huddle">
    {% for member in site.data.team %}
    <div class="member">
      <div class="meta"><img src="/img/people/{{member.name-tokenized}}.jpg" alt="{{member.name}}"></div>
      <div class="caption">
        <h4>{{member.name}}</h4>
        <p>{{member.role}}</p>
        <span class="">
          {% if member.twitter %}<a href="{{ member.twitter }}"><i class="fa fa-twitter-square"></i></a>{% endif %}
          {% if member.facebook %}<a href="{{ member.facebook }}"><i class="fa fa-facebook-square"></i></a>{% endif %}
          {% if member.linkedin %}<a href="{{ member.linkedin }}"><i class="fa fa-linkedin-square"></i></a>{% endif %}
          {% if member.instagram %}<a href="{{ member.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}
          {% if member.github %}<a href="{{ member.github }}"><i class="fa fa-github-square"></i></a>{% endif %}
          {% if member.dribbble %}<a href="{{ member.dribbble }}"><i class="fa fa-dribbble"></i></a>{% endif %}
          {% if member.website %}<a href="{{ member.website }}"><i class="fa fa-external-link-square"></i></a>{% endif %}
        </span>
        <div class="skills">
          <!-- {% for skill in member.skills %}
          <span class="label">{{skill}}</span>
          {% endfor %} -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% include footer-contact.html %}