///////////////////////////////////////
// Explainers
///////////////////////////////////////


main>div .content section.explainer {

  &> article {
    @extend %col-100;
  }

  .module {
    @extend %row;
    border-bottom: $default-border;
    margin-bottom: 2em;
    padding-bottom: 2em;

    figure.example {
      @extend %col-30;
      margin:0 1em 1em 0;
    }
    .description {
      @extend %col-66;
      h5 {
        margin-bottom: .15em;
      }
      p {
        margin-top: 0;
      }
    }

  }

}
