// Jobs

#jobs {
  .job, .how-we-work, .get-in-touch {
    border-top: $container-border;
  }
  .job {
    padding: 1.5em;
    .fa {
      color: $brand-secondary;
    }
    .job-meta {
      color: #aaa;
      font-size: .9em;
    }
  }
}

#job-posting {
  .job {
    @include clearfix();
  }
  .job-info {
    @extend %col-100;
  }
  .job-overview, .job-details {
    @extend %row;
  }
  .job-description {
    @extend %col-80;
  }
  .job-meta {
    @extend %col-20;
    font-size: .75em;
    border-left: 3px solid $brand-primary;
    p strong {
      display: block;
    }
    @include breakpoint(xs){
      border: none;
      p {
        margin: .25em 0;
        padding: 0;
        strong {
          display: inline;
        }
      }
    }

  }
  .job-responsibilities, .job-requirements {
    @extend %col-50;
    font-size: .8em;
    li {
      margin-bottom: .9em;
    }
    .optional {
        font-style: italic;
    }
  }

}