

section.landing {
  &>article {
    @extend %col-60;
  }
  &>aside {
    @extend %col-40;
  }
}

.ux-on-demand {

  h2, h3 em {
    color: $brand-primary;
    font-style: normal;
  }
  aside {
    h5 {
      margin-bottom: 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
    p, ul {
      margin-top: 0.5em;
    }
  }
}
