/** Startups **/

.startup-services {
  @extend %row;
  .service {
    @extend %col-50;
    h4 {
      color: $brand-primary;
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }
}

#startups {
  @include clearfix();
  aside p {
    font-size: .75em;
    a { color: $brand-primary; }
  }
  .standout {
    font-size: 1.1em;
    color:$brand-primary;
    font-weight: bold;
    font-style: italic;
  }
}

.inline-quote {
  border-bottom: $container-border;
  border-top: $container-border;
  padding-top: 1em;
  .media-object img {
    max-width: 120px;
  }
  .media-body {
    font-size: .75em;
    q {
      display: block;
      margin-bottom: .5em;
      quotes: "“" "”" "‘" "’";
    }
    q:before {
      content: open-quote;
    }
    q:after {
      content: close-quote;
    }
  }
}

form.simple-contact {
  background-color: #efefef;
  padding:1em;
  @include clearfix();
  .group-half, .group-full {
    padding-bottom:1em;
    input {
      width:100%;
    }
  }
  .group-half {
    @extend %col-50;
  }
  .group-full {
    @extend %col-100;
  }
}



