// local variables

$font-family-sans-serif: "freight-sans-pro",'helvetica neue',helvetica,sans-serif;
$font-family-serif: "ff-tisa-web-pro",serif;

$brand-primary: rgb(58,123,213) !default;
$brand-secondary: #00d2ff;
$home-text-color: #ffffff;

$body-bg:               #fff !default;
$nav-color:             #000 !default;
$text-color:            #222 !default;

$footerheight: 260px;
$container-border: 1px solid transparentize($brand-primary, .5);