
.disciplines {
  @extend %row;
  .discipline {
    @extend %col-50;
    margin-bottom: 2em;
    &:nth-child(odd) {
      clear:left;
    }
    img {
      margin-bottom: .5em;
    }
  }
}

img.page-lead {
  margin-bottom: 1.5em;
}


.concierge .content {
  @extend %row;
  &>div {
    @extend %col-50;
    h5 {
      margin-bottom: 0;
    }
    ul {
      margin-top: 0.5em;
    }
  }
}
