// styles.scss

@import '../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss','responsive';

// local variables
$footerheight: 60px;
$container-border: 1px solid transparentize($brand-primary, .5);


html,body {
  height: 100%;
}

body {
  background: #111;
}

#wrap {
  color:#fff;
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footerheight);
  padding: 0 0 $footerheight;
  text-shadow: 1px 1px 1px #000;
  &> .container {
   padding: $footerheight 15px 0;
 }
}

///////////////////////////////////////////////////////////////////////
// NAV
.navbar {
  background-image: url(/img/bg-grain-dark.jpg);
  border-bottom: $container-border;
  border-top: 3px solid #000;
  &>.container .navbar-brand {
    font-family: 'alpin','helvetica neue',helvetica,sans-serif;
    font-size: 1.5em;
    margin-left: 45px;
    padding-bottom: 0;
    text-transform: uppercase;
    img {
      vertical-align: baseline;
    }
    @include breakpoint(xs){
      margin-left: 60px;
    }
  }
  #brand {
    position:absolute;
    top:5px;
    width:47px;
    z-index: 9000;
  }
}


///////////////////////////////////////////////////////////////////////
// GLOBAL SECTION STYLES
section {
  padding: 5em 0;
  &.quote {
    background-color: #aaa;
    background-image: url(/img/bg-grain-dark.jpg);
    background-repeat: repeat;
    border-color: #000;
    border-style: solid;
    border-width: 2px 0;
    padding:3em 0;
    @include breakpoint(xs) {
      .row div:first-child .media {
        margin-bottom: 2em;
      }
    }
  }
  &.has-bg {
    background-repeat: no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h2 {
      font-family: 'alpin','helvetica neue',helvetica,sans-serif;
      text-transform: uppercase;
      @include breakpoint(md) {
        font-size: 3em;
      }
      @include breakpoint(lg) {
        font-size: 4em;
      }
    }
  }
}

.quote {
  .media-object {
    @extend .img-circle;
    @extend .pull-left;
    width:90px;
  }
  cite {
    color: #aaa;
    span {
      font-size: .9em;
    }
    strong {
      color: #fff;
      display: block;
    }
    a {
      color: darken($brand-primary, 30%);
    }
  }
}

///////////////////////////////////////////////////////////////////////
// HOME
#home {
  background-image: url(/img/bg-conversation.jpg);
  background-position: 100% 70%;
  padding: 9em 0 6em;
  @include breakpoint(md) {
    background-position: center 70%;
    margin-top: 55px;
  }
  h1 {
    font-family: 'alpin','helvetica neue',helvetica,sans-serif;
    font-size: 3.25em;
    margin:0;
    text-transform: uppercase;
    span {
      color: $brand-secondary;
    }
    @include breakpoint(xs) {
      font-size: 2em;
      line-height: 1.15em;
      margin-bottom:1.5em;
    }
  }
  p {
    font-size:1.75em;
    @include breakpoint(xs){
      font-size:1.25em;
    }
  }
}
.cta {
  border-top: 1px solid $brand-secondary;
  margin-top: 2em;
  padding-top:2em;
  p {
    font-size: 1.5em;
  }
}

///////////////////////////////////////////////////////////////////////
// SERVICES
#services {
  background-image: url(/img/bg-services.jpg);
  padding-bottom: 3em;
  .case {
    @include make-sm-column(12);
    @include make-md-column(6);
    display: inline-block;
    margin-bottom: 1.5em;
    position: relative;
    &:nth-child(odd){
      clear:left;
    }
    margin-bottom: 3em;
    .case-icon {
      display: inline-block;
      position: relative;
      float: left;
      margin-right: 3%;
      max-width: 120px;
      min-height: 100%;
      width: 12%;
      i.fa {
        color: $brand-secondary;
        font-size: 2em;
        @include breakpoint(md) {
          font-size: 3em;
        }
        @include breakpoint(lg) {
          font-size: 3.25em;
        }
      }
    }
    .case-overview {
      display: inline-block;
      position: relative;
      width: 80%;
      h3 {
        font-weight: bold;
        margin: 0;
      }
    }

  }
}

///////////////////////////////////////////////////////////////////////
// PROCESS
#process {
  background-image: url(/img/bg-process.jpg);
  .process-outline {
    margin: 1em 0;
    @include make-row();
    .stage {
      @include make-sm-column(3);
      .fa {
        color: $brand-secondary;
      }
      h3 {
        font-size: 2.5em;
        font-weight: bold;
      }
      @include breakpoint(xs) {
        clear: both;
        margin-bottom: 2em;
        .stage-icon {
          display: inline-block;
          float: left;
          font-size: 2em;
          margin-right: 3%;
          position: relative;
          text-align: center;
          width: 17%;
        }
        .stage-detail {
          display: inline-block;
          position: relative;
          width: 80%;
          h3 {
            margin: 0;
          }
        }
      }
      @include breakpoint(md) {
        text-align: center;
        .stage-icon {
          font-size: 3em;
        }
        h3 {
          font-size: 2em;
        }
      }
      @include breakpoint(lg) {
        text-align: center;
        .stage-icon {
          font-size: 5em;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////
// TEAM
#team {
  background-image: url(/img/bg-team.jpg);
  .the-huddle {
    margin-top: 3em;
    @include make-row();
    .member {
      @include make-sm-column(6);
      display: inline-block;
      margin-bottom: 1.5em;
      position: relative;
      &:nth-child(odd){
        clear:left;
      }
      .meta {
        display: inline-block;
        position: relative;
        float: left;
        margin-right: 3%;
        max-width: 120px;
        min-height: 100%;
        width: 22%;
        img {
          @extend .img-responsive;
        }
        a {
          color: rgba(255,255,255,.3);
          font-size: 1.25em;
          text-decoration: none;
          text-indent: -999em;
          text-shadow:none;
          &:hover {
            color: rgba(255,255,255,.7);
            text-decoration: none;
          }
        }
      }
      .caption{
        display: inline-block;
        position: relative;
        width: 75%;
        h3 {
          margin: 0;
        }
        p {
          color: rgba(255,255,255,.8);
          font-size: .9em;
          margin: 0;
        }
        .label {
          background-color: darken($brand-primary, 50%);
          color: #aaa;
          display: inline-block;
          font-size: .7em;
          font-weight: normal;
          text-shadow: none;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////
// CONTACT
#contact {
  background-image: url(/img/bg-contact.jpg);
  background-position: center bottom;
  .contact-form {
    @include make-sm-column(7);
    .form-group {
      label {
        @include make-sm-column(6);
        display: none;
      }
      div {
        @include make-sm-column(9);
      }
      textarea {
        resize: none;
      }
    }
  }
  .contact-info {
    @include make-sm-column(4);
    @include make-sm-column-offset(1);
    @include breakpoint(xs) {
      font-size: .8em;
      .vcard {
        float: left;
        width: 55%;
      }
    }
    img {
      @extend .img-thumbnail;
      margin-bottom: 1em;
    }
    .vcard, .connect {
      @include make-sm-column(6);
    }
    .connect {
      text-align: right;
      a {
        display: block;
      }
    }
  }
}

#thanks {
  background-image: url(/img/bg-contact.jpg);
  margin-top: 3em;
  min-height: 800px;
  text-align: center;
}


///////////////////////////////////////////////////////////////////////
// FOOTER
footer {
  background-image: url(/img/bg-grain-dark.jpg);
  border-top: $container-border;
  color: #666;
  font-size: 13px;
  height: $footerheight;
  margin: 0;
  padding: 2em 0 3em;
}
