////////////////////////////////////////////
// Styleguide specific styles

@import 'styles','pygments';


.styleguide {

  aside {
    h4 {
      margin-top: 2.35em;
    }
    ul {
      font-size: .8em;
      list-style-type: square;
      margin: 0;
      padding: 0;
    }
  }

  .grid-sample {
    .row {
      background-color:#ccc;
      border: 1px solid pink;
    }
    .col-100, .col-66, .col-50, .col-33 {
      background-color:#eee;
      border:1px solid #ddd;
    }
  }

}