////////////////////////////////////////////
// Styleguide specific styles

@import 'styles','pygments';

// create utility classes for grid examples
.row {
  @extend %row;
  background-color:#ccc;
  border: 1px solid pink;
}

@each $i in $common {
  .col-#{$i} {
    @extend %col-#{$i};
    background-color:#eee;
    border:1px solid #ddd;
  }
  .offset-#{$i} {
    @extend %offset-#{$i};
  }
}

.styleguide {
  aside {
    h4 {
      margin-top: 2.35em;
    }
    ul {
      font-size: .8em;
      list-style-type: square;
      margin: 0;
      padding: 0;
    }
  }
}