---
layout: default
title: Meet the Team
pid: about
weight: 2
---

<section id="team">
  <header>
    <hgroup>
      <h1>Use our experience to create yours.</h1>
    </hgroup>
  </header>
  <aside>
    {% include local-navigation.html %}
  </aside>
  <article>
    <p class="lead">Imagine if you played guitar every day for 20 years. You&rsquo;d be pretty good.</p>
    <p>You want a team with decades of experience. Add ours up and you&rsquo;ll get over 80 years of digital craftsmanship and design excellence.</p>
    <p>From the birth of ecommerce, through the .com bubble and bust, and the rise of social media, we&rsquo;ve seen just about every strategy you can think of. Hell, we&rsquo;ve tried most of them. We know what works, what doesn&rsquo;t, and we have the scars to prove it.</p>
    <div class="the-huddle">
      <h2>The Team</h2>
      {% for member in site.data.team %}
      <div class="member">
        <div class="meta"><a href="/{{ member.name | datapage_url: 'about' }}"><img src="{{member.photo}}" alt="{{member.name}}"></a></div>
        <div class="caption">
          <h4><a href="/{{ member.name | datapage_url: 'about' }}">{{member.name}}</a></h4>
          <p>{{member.role}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <p>We believe the Web should help make the world a better place for everyone. <a href="/community/">Find out</a> how we&rsquo;re involved in the local community.</p>
  </article>
</section>

{% include footer-contact.html %}