---
layout: default
title: Brand Naming and Identity
pid: work
weight: 2
---

<section id="startups">
  <header>
    <hgroup>
      <h1>Your brand is much more than a logo.</h1>
    </hgroup>
  </header>
  <aside>
    {% include local-navigation.html %}
  </aside>
  <article>
    <p>A well conceived name and logo will communicate your message and mission in a way words are unable to (remember, <i>a picture is worth a thousand words</i>).</p>
    <h4>The Value of Great Branding</h4>
    <ol>
      <li>Your brand serves as the mental bookmark in the minds of the public for your organization and what it does. </li>
      <li>It's a reference point and cornerstone for future branding and marketing efforts.</li>
      <li>Clear usage guidelines will ensure your brand is used in a consistent manner, which communicates professionalism and trustworthiness to the general public.</li>
      <li>Clear usage guidelines simplify the process for future design projects.</li>
    </ol>
    <p>Our <a href="/about/team.html">brand specialists</a> will work with you and your team to understand and define the precise message your new brand identity should communicate to your audience.</p>
    <hr>
    <h3>You have enough to think about.</h3>
    <p>Getting your company off the ground means thinking about dozens <em>(or hundreds)</em> of things at once. Figuring out a complicated pricing structure shouldn't be one of them.</p>
    <p><strong>That's why we made it simple.</strong><br> Basic branding packages start at just $3,000.</p>

    <hr>


    <h4>What you&rsquo;ll get:</h4>
    <ul>
      <li><b>Strategic Planning and Discovery</b>: Live session with your key stakeholders to discuss your goals and ambitions, and how we should best communicate your message to the public.</li>
      <li><b>Concepting</b>: We will work with you to develop concepts, discuss the merits of each, and decide which one will become the final.</li>
      <li><b>Development</b>: We will create the final brand according to the outcome of the concepting session.</li>
      <li><b>Identity Package</b>:
        <ul>
          <li>Final Logo in full-color and black and white versions.</li>
          <li>Typographic kit including one headline and one body copy typeface.</li>
          <li>Color palette consisting of no more than three colors.</li>
        </ul>
      </li>
      <li><b>Usage Guidelines Document</b> <small><em>(<a href="https://www.dropbox.com/s/rce7gdsw5yqmqut/awdg-brand-guidelines.pdf?dl=0">See a sample</a>)</em></small>:
        <ul>
          <li>Logo sizing, clear-space, and positioning guidelines</li>
          <li>Color usage guidelines</li>
          <li>Typeface usage guidelines</li>
        </ul>
      </li>
      <li><b>Final Delivery Meeting</b>: We will discuss the final Logo and Usage Guidelines with your key stakeholders so that you have a solid understanding of what you&rsquo;ve received and how it should be used.</li>
    </ul>

    <hr>

    <h2 id="lets-talk">Get our Naming and Branding experts on your team.</h2>
    <p>Let us know what you need and we&rsquo;ll help you get it done.</p>

    <form class="simple-contact" accept-charset="UTF-8" action="https://il258.infusionsoft.com/app/form/process/557e4cea501f01ec1904c035d7eeb6ab" method="POST">
      <input name="inf_form_xid" type="hidden" value="557e4cea501f01ec1904c035d7eeb6ab" />
      <input name="inf_form_name" type="hidden" value="Indicate interest" />
      <input name="infusionsoft_version" type="hidden" value="1.42.0.39" />
      <div class="group-half">
        <label for="inf_field_FirstName">First Name</label>
        <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" />
      </div>
      <div class="group-half">
        <label for="inf_field_LastName">Last Name</label>
        <input class="infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="text" />
      </div>
      <div class="group-full">
        <label for="inf_field_Email">Your Best Email Address</label>
        <input class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" />
      </div>
      <div class="group-full">
        <button class="btn" type="submit">Let&rsquo;s Talk</button>
      </div>
    </form>
    <script type="text/javascript" src="https://il258.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=7ee1dd5e04add73e753833d167f5f088"></script>

  </article>
</section>

{% include footer-contact.html %}

<div class="quotes well">
  <h3>Testimonials</h3>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/wendy-kemp.jpg" alt="Wendy Kemp"></div>
      <div class="media-body">
        <p>When we hired Nine Labs, our project had stalled out with another firm.  The team at Nine Labs took the time to understand our brand and our vision. They delivered a customized website in the promised timeframe. Thanks, Nine Labs!</p>
        <cite><strong>Wendy Kemp</strong> <span>Managing Partner / <a href="http://www.brickhouseresources.com">Brickhouse Resources</a></span></cite>
      </div>
    </div>
  </div>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/amy-hoover.jpg" alt="Amy Hoover"></div>
      <div class="media-body">
        <p>They took the time to ask questions and really understand our brand and its goals. We were able to work with them to get a finished product quickly and efficiently. I loved working with the whole team. They&rsquo;re fun and listened to what I needed. Top notch firm.</p>
        <cite><strong>Amy Hoover</strong> <span>President / <a href="http://www.strongboxwest.com">Strongbox West</a></span></cite>
      </div>
    </div>
  </div>
</div>