---
layout: default
title: Concierge UX Services
pid: work
weight: 1
published: true
---


<section class="concierge">

  <header>
    <hgroup>
      <h1>Concierge User Experience Services</h1>
    </hgroup>
  </header>

  <aside>
    {% include local-navigation.html %}
  </aside>

  <article>

    <img class="page-lead" src="//s3.amazonaws.com/ninelabs.com/concierge-ux.jpg" alt="Branding Naming and Identity">
    <h3>Advice you need, when you need it, without the overhead.</h3>
    <div class="content">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
      </div>
      <div>
        <h5>We can help you:</h5>
        <ul>
          <li>Increase Conversion Rates</li>
          <li>Decrease Support Requests</li>
          <li>Improve usability</li>
          <li>Increase page speed (faster load times)</li>
          <li>Increase Average Sale Amounts</li>
          <li>Increase User Satisfaction</li>
        </ul>
        <h5>Why use an outside UX Professional?</h5>
        <ul>
          <li>Get C-level professionals on your team, fast</li>
          <li>No headhunting or hiring costs</li>
          <li>No disruption to your org chart</li>
          <li>Costs less than a full-time employee</li>
          <li>Cancel anytime.</li>
        </ul>
      </div>
    </div>



    {% include ifs-global-form.html %}

  </article>

</section>



<div class="quotes well">
  <h3>Testimonials</h3>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/wendy-kemp.jpg" alt="Wendy Kemp"></div>
      <div class="media-body">
        <p>When we hired Nine Labs, our project had stalled out with another firm.  The team at Nine Labs took the time to understand our brand and our vision. They delivered a customized website in the promised timeframe. Thanks, Nine Labs!</p>
        <cite><strong>Wendy Kemp</strong> <span>Managing Partner / <a href="http://www.brickhouseresources.com">Brickhouse Resources</a></span></cite>
      </div>
    </div>
  </div>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/amy-hoover.jpg" alt="Amy Hoover"></div>
      <div class="media-body">
        <p>They took the time to ask questions and really understand our brand and its goals. We were able to work with them to get a finished product quickly and efficiently. I loved working with the whole team. They&rsquo;re fun and listened to what I needed. Top notch firm.</p>
        <cite><strong>Amy Hoover</strong> <span>President / <a href="http://www.strongboxwest.com">Strongbox West</a></span></cite>
      </div>
    </div>
  </div>
</div>
