---
layout: default
title: What We Do
pid: work
weight: 1
---

<section id="team">
  <header>
    <hgroup>
      <h1>We love what we do.</h1>
    </hgroup>
  </header>

  <aside>
    {% include local-navigation.html %}
  </aside>

  <article>

    <p class="lead">Our people are passionate about connecting business goals with customer needs, and using creativity to drive results.</p>
    <div class="disciplines">
      <div class="discipline">
        <h3>User Experience Design</h3>
        <img src="http://s3.amazonaws.com/ninelabs.com/design-meeting.jpg" alt="A Design Meeting">
        <p>Our <a href="/about/team.html">Experience Designers</a> develop brand messaging that strengthen customer relationships through memorable experiences. By intimately understanding your customers&rsquo; needs and desires and what they mean for your business, our team creates visual and interactive experiences that build loyalty and bring delight.</p>
      </div>
      <div class="discipline">
        <h3>App Interface Design</h3>
        <img src="http://s3.amazonaws.com/ninelabs.com/prototype-on-screen.jpg" alt="Mobile App Prototype">
        <p>A brand is more than a name and a logo. It’s the intersection of what you do and how people feel about it. We help create reasons for them to love you and your products.</p>
      </div>
      <div class="discipline">
        <h3>Strategy and Planning</h3>
        <img src="http://s3.amazonaws.com/ninelabs.com/post-it-whiteboard.jpg" alt="Workflow on a Whiteboard">
        <p>By understanding where your business needs to go &mdash; the &ldquo;flag on the horizon&rdquo; &mdash; our <a href="/about/team.html">industry-leading strategy & design team</a> helps put you on the path to success.</p>
      </div>
      <div class="discipline">
        <h3>Digital Marketing Strategy</h3>
        <img src="http://s3.amazonaws.com/ninelabs.com/j-speaking.jpg" alt="J Cornelius speaking about incentives">
        <p>Our strategists create phenomenally precise marketing campaigns and communications designed to create brand awareness, generate demand, acquire customers and build lasting relationships.</p>
      </div>
      <div class="discipline">
        <h3>Content Strategy</h3>
        <img src="http://s3.amazonaws.com/ninelabs.com/strategy-meeting.jpg" alt="Team Strategy Meeting">
        <p>Our strategists create phenomenally precise marketing campaigns and communications designed to create brand awareness, generate demand, acquire customers and build lasting relationships.</p>
      </div>
      <div class="discipline">
        <h3>Brand Naming and Identity</h3>
        <img src="http://s3.amazonaws.com/ninelabs.com/working-at-the-airport.jpg" alt="Hard at Work">
        <p>A brand is more than a name and a logo. It’s the intersection of what you do and how people feel about it. We help create reasons for them to love you and your products.</p>
      </div>
    </div>
  </article>

</section>

{% include footer-contact.html %}