---
layout: default
title: For Startups
pid: work
"meta-keywords": "startup, branding, application, prototypes, marketing, website"
"meta-description": Take your startup from the back of a napkin to revenue and success.
ref: "http://www.creativebloq.com/netmag/ux-design-startups-age-user-experience-design-10126018"
textrotate: true
weight: 20
published: true
---


<section id="startups">
  <header>
    <hgroup>
      <h1>&ldquo;What if they don&rsquo;t <span class="rotate" data-words="sign up|buy|invest|share|like it">like it</span>?&rdquo;</h1>
    </hgroup>
  </header>
  <aside>
    {% include local-navigation.html %}
  </aside>
  <article>
    <h2>Don't fret.</h2>
    <p class="lead">You have a great idea, but you’re not sure how to make it a reality. We have great news: <i>you&rsquo;re not alone</i>.</p>
    <p>Lots of companies have survived this awkward phase, and with our help, yours will too.</p>
    <blockquote class="indent startup-aside">
      <h5>Who are we, anyway?</h5>
      <p>We&rsquo;re a <a href="/about/team.html">small team</a> of strategists and designers who&rsquo;ve helped <a href="/about/reputation.html">lots of companies</a> acheive their business goals.</p>
      <p><b>We&rsquo;re bootstrapped, too.</b></p>
      <p>We know how hard it is to take an idea from a bar napkin to generating revenue, and we love helping companies make that leap.</p>
    </blockquote>
    <h4>What do Uber, AirBNB, Instagram, and other successful startups have in common?</h4>
    <p class="standout">Great Design.</p>
    <p>They understand that great design is a strategic weapon. From the very beginning, the founders of these companies knew they had to nail the <em>first impression</em>.</p>
    <p>Everyone from first-time users to Venture Capitalists will judge your company in milliseconds. You need your digital properties to put your company's best foot forward to everyone that meets you. Great design will give you confidence.</p>
    <p>The difference between people just using your product once and people falling in love with it is no accident. It&rsquo;s the result of well-thought-out, strategic design decisions.</p>


    <div class="inline-quote">
      <div class="media">
        <div class="media-object"><img src="/img/people/everett-steele.jpg" alt="Everett Steele"></div>
        <div class="media-body">
          <q>It can be difficult with a small startup team to put together a cohesive strategy. We brought on the Nine Labs team for a project that was small in scope but had a big impact on our company. It took our branding to the next level and really highlighted the feel of our company. The team was great to work with--efficient, communicative, and invested in our success.</q>
          <cite><strong>Everett Steele</strong> &mdash; <span>CEO / <a href="http://getkanga.com/">Kanga</a></span></cite>
        </div>
      </div>
    </div>

    <h2>Luckily for you, great design is within reach.</h2>
    <p>This is a critical time for your business. How you spend your money in the early days has a huge impact on the trajectory of your business.</p>
    <p>You might not be able to afford a full-time design and user experience team, but you can <a href="/contact/">hire us</a> to help you look your best.</p>
    <h3>Get an advantage with great design right from the start.</h3>

    <hr>
    <div class="startup-services">
      <div class="service">
        <h4>Brand Identity</h4>
        <p><em>Starting at $1,000</em></p>
        <p>A great name, logo, and brand messaging system will help you look your best and set you apart from the rest.</p>
      </div>
      <div class="service">
        <h4>Marketing Websites</h4>
        <p><em>Starting at $2,500</em></p>
        <p><i>&ldquo;Coming Soon&rdquo;</i> pages don&rsquo;t cut it anymore. Get a simple marketing microsite and tell your story with style.</p>
      </div>
      <div class="service">
        <h4>Pitchdecks</h4>
        <p><em>Starting at $500</em></p>
        <p>Whether you&rsquo;re raising money or attracting talent, you need a slide deck that captures their attention and inspires action.</p>
      </div>
      <div class="service">
        <h4>App Prototypes</h4>
        <p><em>Starting at $13,000</em></p>
        <p>Getting your app and workflow right in the beginning can be the difference between success and endless pivots.</p>
      </div>
    </div>

    <div class="inline-quote">
      <div class="media">
        <div class="media-object"><img src="/img/people/amy-hoover.jpg" alt="Amy Hoover"></div>
        <div class="media-body">
          <q>They took the time to ask questions and really understand our brand and its goals. We were able to work with them to get a finished product quickly and efficiently. I loved working with the whole team. They&rsquo;re fun and listened to what I needed. Top notch firm.</q>
          <cite><strong>Amy Hoover</strong> &mdash; <span>President / <a href="http://www.strongboxwest.com">Strongbox West</a></span></cite>
        </div>
      </div>
    </div>

    <h2 id="lets-talk">Get our Strategists and Designers on your team.</h2>
    <p>Let us know what you need and we&rsquo;ll help you get it done.</p>

    <form class="simple-contact" accept-charset="UTF-8" action="https://il258.infusionsoft.com/app/form/process/557e4cea501f01ec1904c035d7eeb6ab" method="POST">
      <input name="inf_form_xid" type="hidden" value="557e4cea501f01ec1904c035d7eeb6ab" />
      <input name="inf_form_name" type="hidden" value="Indicate interest" />
      <input name="infusionsoft_version" type="hidden" value="1.42.0.39" />
      <div class="group-half">
        <label for="inf_field_FirstName">First Name</label>
        <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" />
      </div>
      <div class="group-half">
        <label for="inf_field_LastName">Last Name</label>
        <input class="infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="text" />
      </div>
      <div class="group-full">
        <label for="inf_field_Email">Your Best Email Address</label>
        <input class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" />
      </div>
      <div class="group-full">
        <button class="btn" type="submit">Let&rsquo;s Talk</button>
      </div>
    </form>
    <script type="text/javascript" src="https://il258.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=7ee1dd5e04add73e753833d167f5f088"></script>

    <div class="inline-quote">
      <div class="media">
        <div class="media-object"><img src="/img/people/wendy-kemp.jpg" alt="Wendy Kemp"></div>
        <div class="media-body">
          <q>When we hired Nine Labs, our project had stalled out with another firm.  The team at Nine Labs took the time to understand our brand and our vision. They delivered a customized website in the promised timeframe. Thanks, Nine Labs!</q>
          <cite><strong>Wendy Kemp</strong> &mdash; <span>Managing Partner / <a href="http://www.brickhouseresources.com">Brickhouse Resources</a></span></cite>
        </div>
      </div>
    </div>

  </article>

</section>

{% include footer-contact.html %}
