---
layout: default
title: User Interface Design
pid: work
weight: 3
---

<section>
  <header>
    <hgroup>
      <h1>Web and Application User Interfaces</h1>
    </hgroup>
  </header>
  <aside>
    {% include local-navigation.html %}
  </aside>
  <article>

    <h2>As far as customers are concerned the interface is the product.</h2>

    <img src="http://s3.amazonaws.com/ninelabs.com/prototype-on-screen.jpg" alt="Mobile App Prototype">

    <p>Every detail your customer&rsquo;s experience is important. The &ldquo;look and feel&rdquo; of your app or website say more about your business than any marketing campaign ever could. Each element that impacts the end user should be considered part of the design process.</p>
    <p>Is the app useful, allowing users to accomplish their goals swiftly and easily? Is it usable, ensuring that the process is easily navigated? Is it enticing, promoting brand loyalty and a growing user base? Is it affordable, well-planned to avoid costly re-works? Great app interface design is able to answer yes to each of these questions.</p>
    <p>We believe that a well-designed interface has an extraordinary impact on a user&rsquo;s overall experience, and we pledge to deliver such an interface on time, every time. You can trust us to create stunning, functional applications that are highly usable and personalized to your organization, because we know that no two companies are the same.</p>

    <h4>Discover what we can do for you and your website or mobile app.</h4>
    <form class="simple-contact" accept-charset="UTF-8" action="https://il258.infusionsoft.com/app/form/process/557e4cea501f01ec1904c035d7eeb6ab" method="POST">
      <input name="inf_form_xid" type="hidden" value="557e4cea501f01ec1904c035d7eeb6ab" />
      <input name="inf_form_name" type="hidden" value="Indicate interest" />
      <input name="infusionsoft_version" type="hidden" value="1.42.0.39" />
      <div class="group-half">
        <label for="inf_field_FirstName">First Name</label>
        <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" />
      </div>
      <div class="group-half">
        <label for="inf_field_LastName">Last Name</label>
        <input class="infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="text" />
      </div>
      <div class="group-full">
        <label for="inf_field_Email">Your Best Email Address</label>
        <input class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" />
      </div>
      <div class="group-full">
        <button class="btn" type="submit">Let&rsquo;s Talk</button>
      </div>
    </form>
    <script type="text/javascript" src="https://il258.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=7ee1dd5e04add73e753833d167f5f088"></script>

  </article>
</section>

{% include footer-contact.html %}

<div class="quotes well">
  <h3>Testimonials</h3>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/wendy-kemp.jpg" alt="Wendy Kemp"></div>
      <div class="media-body">
        <p>When we hired Nine Labs, our project had stalled out with another firm. The team at Nine Labs took the time to understand our brand and our vision. They delivered a customized website in the promised timeframe. Thanks, Nine Labs!</p>
        <cite><strong>Wendy Kemp</strong> <span>Managing Partner / <a href="http://www.brickhouseresources.com">Brickhouse Resources</a></span></cite>
      </div>
    </div>
  </div>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/amy-hoover.jpg" alt="Amy Hoover"></div>
      <div class="media-body">
        <p>They took the time to ask questions and really understand our brand and its goals. We were able to work with them to get a finished product quickly and efficiently. I loved working with the whole team. They&rsquo;re fun and listened to what I needed. Top notch firm.</p>
        <cite><strong>Amy Hoover</strong> <span>President / <a href="http://www.strongboxwest.com">Strongbox West</a></span></cite>
      </div>
    </div>
  </div>
</div>