---
layout: default
title: Marketing Websites
pid: work
weight: 3
---

<section id="startups">
  <header>
    <hgroup>
      <h1>Marketing and Ecommerce Websites</h1>
    </hgroup>
  </header>
  <aside>
    {% include local-navigation.html %}
  </aside>

  <article>
    <p>Coming Soon pages just don&rsquo;t cut it anymore. Your website needs to be up and running to make a good impression. Even if all you have is some basic info about your company and the people who founded it, that&rsquo;s a signal of credibility your future customers and investors will appreciate.</p>
    <p>Tell us what you&rsquo;re all about and we&rsquo;ll make a simple and effective website to tell that story to the world.</p>
    <hr>
    <h2>Basic Microsite</h2>
    <h4>3-5 days / $7,495 to $12,990</h4>
    <p>Use your existing text and image content to develop the microsite. The results of this option would include, but not be limited to:</p>
    <ul>
      <li>Create static HTML and CSS, or Squarespace website (no Wordpress) based on pre-existing theme we select for you.
        <ul>
          <li>Minor theme customizations (add your logo/branding, change colors, text styles)</li>
          <li>Up to 3 separate pages with up to 1000 words per page</li>
        </ul>
      </li>
      <li>You supply all content
        <ul>
          <li>Text content would be near verbatim as we receive it from you, with minor edits and other corrections (typos, spelling, grammar).</li>
          <li>Images would be used as supplied, limited cropping and resizing as necessary</li>
        </ul>
      </li>
      <li>Deployment to be publically visible.</li>
      <li>Install tracking mechanism (Google Analytics, Clicktale, Full Story, or similar)</li>
      <li>Testing and validation</li>
    </ul>
    <hr>
    <h2>Enhanced Microsite</h2>
    <h4>5-10 days / $4,990 to $9,980</h4>
    <p>The results of this option would include, but not be limited to:</p>
    <ul>
      <li>Creative direction and strategy for the website.</li>
      <li>Create static HTML and CSS, or Squarespace website (no Wordpress) based on pre-existing theme we select <em>​with​</em> you.
        <ul>
          <li>Up to 6 separate pages with up to 1000 words per page
            <ul>
              <li>Theme customizations
                <ul>
                  <li>add your logo/branding, change colors, text styles</li>
                  <li>minor layout/structural changes like adding sections, columns (within theme limitations)</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Content Refinement:
        <ul>
          <li>We&rsquo;ll work with your team to refine and improve your existing text copy.</li>
          <li>We&rsquo;ll help find appropriate stock photos</li>
        </ul>
      </li>
      <li>Deployment to be publically visible.</li>
      <li>Install standard social sharing mechanisms for Twitter, Facebook, and LinkedIn</li>
      <li>Install tracking mechanism (Google Analytics, Clicktale, Full Story, or similar)</li>
      <li>Testing and validation</li>
    </ul>
    <hr>
    <h2>Advanced Microsite</h2>
    <h4>5-8 days / $11,995 to $16,500</h4>
    <p>The results of this option would include, but not be limited to:</p>
    <ul>
      <li>Creative Direction session where our Senior UX designers define the design direction and experience strategy for the website.</li>
      <li>Create static HTML and CSS, or Squarespace website (no Wordpress) based on pre-existing theme we select <em>w​ith​ you</em>.
        <ul>
          <li>Up to 6 separate pages with up to 1000 words per page</li>
          <li>Custom selection of typefaces to suit brand and design direction</li>
          <li>Detailed theme customizations
            <ul>
              <li>Add your logo/branding, change colors, text styles</li>
              <li>Layout/structural changes like adding sections, columns (within theme limitations)</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Custom Content Development:
        <ul>
          <li>We&rsquo;ll work with your team to refine and improve your existing text copy, a​nd create new content as necessary</li>
          <li>We&rsquo;ll help find appropriate stock photos and other artwork</li>
          <li>Create custom artwork and/or illustrations</li>
        </ul>
      </li>
      <li>Deployment to be publically visible.</li>
      <li>Install standard social sharing mechanisms for Twitter, Facebook, and LinkedIn</li>
      <li>Install tracking mechanism (Google Analytics, Clicktale, Full Story, or similar)</li>
      <li>Testing and validation</li>
    </ul>
  </article>

</section>

{% include footer-contact.html %}

<div class="quotes well">
  <h3>Testimonials</h3>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/wendy-kemp.jpg" alt="Wendy Kemp"></div>
      <div class="media-body">
        <p>When we hired Nine Labs, our project had stalled out with another firm.  The team at Nine Labs took the time to understand our brand and our vision. They delivered a customized website in the promised timeframe. Thanks, Nine Labs!</p>
        <cite><strong>Wendy Kemp</strong> <span>Managing Partner / <a href="http://www.brickhouseresources.com">Brickhouse Resources</a></span></cite>
      </div>
    </div>
  </div>
  <div class="quote">
    <div class="media">
      <div class="media-object"><img src="/img/people/amy-hoover.jpg" alt="Amy Hoover"></div>
      <div class="media-body">
        <p>They took the time to ask questions and really understand our brand and its goals. We were able to work with them to get a finished product quickly and efficiently. I loved working with the whole team. They&rsquo;re fun and listened to what I needed. Top notch firm.</p>
        <cite><strong>Amy Hoover</strong> <span>President / <a href="http://www.strongboxwest.com">Strongbox West</a></span></cite>
      </div>
    </div>
  </div>
</div>