<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html {% if page.pid == 'home' %}id="home" {% endif %}class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>{% if page.title or post.title %}{{ page.title }}{{ post.title }} // {{ site.name }}{% else %} {{ site.name }} // Strategic thinking to help your business{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=100">
  <meta name="description" content="{% if page.pid == 'notes' %}{{ page.excerpt | strip_html }}{% else if page.meta-description %}{{ page.meta-description }}{% else %}Strategic Thinking To Help Your Business - Web, Mobile, Apps, and Ecommerce{% endif %}">
  <meta name="keywords" content="{% if page.meta-keywords %}{{ page.meta-keywords }}{% else %}consulting, strategy, user experience, customer experience, branding, brand, digital strategy, experience design, digital, website, web, services{% endif %}">
  <meta name="author" content="Nine Labs">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="W5jshkeh4LiPKHpkOM6qfcJbk50EizTSBE6NOnRMWbw">
  <link rel="canonical" href="{{ site.url }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "LocalBusiness",
    "name" : "Nine Labs",
    "telephone" : "678.561.6463",
    "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "1040 West Marietta Street NW",
      "addressLocality" : "Atlanta",
      "addressRegion" : "GA",
      "postalCode" : "30318"
    }
  }
  </script>
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Nine Labs" />
  <meta property="og:url" content="https://ninelabs.com{{ page.url }}" />
  <meta property="og:title" content="{% if page.title or post.title %}{{ page.title }}{{ post.title }}{% else %}Digital Strategy // Business Results{% endif %}" />
  <meta property="og:description" content="{% if page.pid == 'notes' %}{{ page.excerpt | strip_html }}{% else if page.meta-description %}{{ page.meta-description }}{% else %}Strategic Thinking To Help Your Business - Web, Mobile, Apps, and Ecommerce{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://ninelabs.com/img/post-it-wall.jpg{% endif %}" />

</head>
<body id="lldfl"{% if page.pid %} class="{{ page.pid }}"{% endif %}>

  {% include global-navigation.html %}

  <main>
    <div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </main>

  {% include global-footer.html %}

</body>
</html>
