<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html {% if page.pid == 'home' %}id="home" {% endif %}class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>{% if page.title or post.title %}{{ page.title }}{{ post.title }} // {{ site.name }}{% else %} {{ site.name }} // Strategic thinking to help your business{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=100">
  <meta name="description" content="{% if page.pid == 'notes' %}{{ page.excerpt | strip_html }}{% else if page.meta-description %}{{ page.meta-description }}{% else %}Strategic Thinking To Help Your Business - Web, Mobile, Apps, and Ecommerce{% endif %}">
  <meta name="keywords" content="{% if page.meta-keywords %}{{ page.meta-keywords }}{% else %}consulting, strategy, user experience, customer experience, branding, brand, digital strategy, experience design, digital, website, web, services{% endif %}">
  <meta name="author" content="Nine Labs">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="W5jshkeh4LiPKHpkOM6qfcJbk50EizTSBE6NOnRMWbw">
  <link rel="canonical" href="{{ site.url }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  {% if page.pid == 'notes' %}
  <link rel="stylesheet" href="/css/social-share-kit.css?v=2">
  {% endif %}
  <link rel="stylesheet" href="/css/styles.css?v=2">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <script src="/js/nav.js"></script>
  <script type="text/javascript" src="//use.typekit.com/gdv6slf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "LocalBusiness",
    "name" : "Nine Labs",
    "telephone" : "678.561.6463",
    "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "1040 West Marietta Street NW",
      "addressLocality" : "Atlanta",
      "addressRegion" : "GA",
      "postalCode" : "30318"
    }
  }
  </script>
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Nine Labs" />
  <meta property="og:url" content="https://ninelabs.com{{ page.url }}" />
  <meta property="og:title" content="{% if page.title or post.title %}{{ page.title }}{{ post.title }}{% else %}Digital Strategy // Business Results{% endif %}" />
  <meta property="og:description" content="{% if page.pid == 'notes' %}{{ page.excerpt | strip_html }}{% else if page.meta-description %}{{ page.meta-description }}{% else %}Strategic Thinking To Help Your Business - Web, Mobile, Apps, and Ecommerce{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://ninelabs.com/img/post-it-wall.jpg{% endif %}" />
</head>
<body id="lldfl"{% if page.pid %} class="{{ page.pid }}"{% endif %}>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=521078101401631";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  {% include global-navigation.html %}

  <main>
    <div>
      {{ post.excerpt }}
      <div class="content">
        {{ content }}
      </div>
    </div>
  </main>

  {% include global-footer.html %}

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/js/behavior.js"></script>
  <script>var nav = responsiveNav(".nav-collapse");</script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  {% if page.pid == 'styleguide' %}<script src="/js/styleguide.js"></script>{% endif %}
  {% if page.pid == 'notes' %}
  <script type="text/javascript" src="/js/social-share-kit.min.js"></script>
  <script type="text/javascript">
    SocialShareKit.init({
      selector: '.post-social .ssk',
      url: 'https://ninelabs.com{{ page.url }}',
      text: "{{ page.title }}",
      twitter: {
        url: 'https://ninelabs.com{{ page.url }}',

        via: '@ninelabs',
    }
    });
  </script>
  {% endif %}
  {% if page.textrotate %}
  <script>
  var keywords = $(".rotate").data("words").split('|');
  var count = 1;
  setInterval(function(){
    $(".rotate").fadeOut(400, function(){
      $(this).html(keywords[count]);
      count++;
      if(count == keywords.length)
        count = 0;
      $(this).fadeIn(400);
    });
  }, 5000);
  </script>
  {% endif %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-48977047-1', 'ninelabs.com');
ga('send', 'pageview');
</script>
<script type="text/javascript" src="https://il258.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=7ee1dd5e04add73e753833d167f5f088"></script>
</body>
</html>
