---
layout: default
---
<div class="docs">
  <article>
    <header>
      <h3>{{ page.title }}</h3>
    </header>

    <div class="post">
      {{ content }}
    </div>

  </article>

  <aside>
    <h4>All Documents</h4>
    <ul>
      {% assign docs = (site.pages | sort: "weight" | where: "layout" , "docs" ) %}
      {% for page in docs %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </aside>

  <div class="docs-disclaimer">
    <p>Note: These documents are supplied as a reference only. Nothing here is meant to be used as legal advice.</p>
  </div>
</div>

