<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>Grid Test</title>
  <link rel="stylesheet" href="/css/styles.css?v=2">
</head>
<body>
  <main>
    {{ content }}
  </main>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript">
   $( document ).ready(function() {
      $('.row div').not('.row').each(function(){
        var t = $(this).attr("class");
        $(this).prepend(t);
      });
   });
  </script>
</body>
</html>