---
layout: default
pid: notes
---
<div class="post-container labnotes {{ page.slug }}">
  <aside class="meta">
    <a href="/notes/">&laquo; All Lab Notes</a></p>
    <div class="post-meta">
      {% if page.category == 'clientwork' %}
      <p class="kv"><em>Client:</em> <span>{% if page.client.url %}<a href="{{ page.client.url }}">{{ page.client.name }}</a>{% else %}{{ page.client.name }}{% endif %}</span></p>
      <p class="kv"><em>Services:</em> <span>{{ page.client.services }}</span></p>
      {% endif %}
      <p class="kv"><em>Posted:</em> <span>{{ page.date | date: "%b %-d, %Y" }}</span></p>
      <p class="kv"><em>By:</em> <span>{{ page.author }}</span></p>
      <p class="readtime">It should take {{ page.content | reading_time }} to read.</p>
    </div>
  </aside>
  <article class="post-content">
    <header>
      <h2>{{ page.title }}</h2>
    </header>
    <div class="post">
      {% if page.image %}
        <figure>
          <img src="{{ page.image }}" alt="Header Image">
          {% if page.image-caption %}
          <figcaption>{{ page.image-caption }}</figcaption>
          {% endif %}
        </figure>
      {% endif %}

      {{ content }}
      {% if page.category == 'clientwork' and page.client.quote != null %}
      <div class="client-quote">
        <div class="client-photo">
          <img src="/img/people/{{ page.client.quote-person-photo }}" alt="{{ page.client.quote-person }}">
        </div>
        <blockquote>
          <p>{{ page.client.quote }}</p>
          <cite>{{ page.client.quote-person }}, {{ page.client.quote-person-title }}</cite>
        </blockquote>
      </div>
      {% endif %}
    </div>

    {% include ifs-global-form.html %}

    <div class="posts-page-navigation">
      <div class="left">
        {% if page.previous.url %}<em>Previously:</em><br>
        <a href="{{page.previous.url}}" title="Previous Post:
        {{page.previous.title}}">{{page.previous.title}}</a>
        {% endif %}
      </div>
      <div class="right">
        {% if page.next.url %}<em>Next Up:</em><br>
        <a href="{{page.next.url}}" title="next Post:
        {{page.next.title}}">{{page.next.title}}</a>
        {% endif %}
      </div>
    </div>
  </article>
</div>