---
layout: default
pid: notes
---
<div class="post-container labnotes">
  <aside class="post-meta meta">
    <p><a href="/notes/">&laquo; All Lab Notes</a></p>
    <p><em>Posted:</em> {{ page.date | date: "%b %-d, %Y" }}</p>
    <p><em>By:</em> {{ page.author }}</p>
    <p>It should take {{ page.content | reading_time }} to read.</p>
    {% if page.category == 'clientwork' %}
    <hr>
    <p><em>Client:</em> {{ page.client.name }}</p>
    <p><em>Services:</em> {{ page.client.services }}</p>
    {% if page.client.platform %}<p><em>Platform:</em> {{ page.client.platform }}</p>{% endif %}
    {% if page.client.url %}<p><a href="{{ page.client.url }}">Visit Website</a></p>{% endif %}
    {% endif %}
  </aside>
  <article class="post-content">
    <header>
      <h2>{{ page.title }}</h2>
    </header>
    <div class="post">
      {% if page.image %}<img src="{{ page.image }}">{% endif %}
      {{ content }}
      {% if page.category == 'clientwork' and page.client.quote != null %}
      <div class="client-quote">
        <div class="client-photo">
          <img src="/img/people/{{ page.client.quote-person-photo }}">
        </div>
        <blockquote>
          <p>{{ page.client.quote }}</p>
          <cite>{{ page.client.quote-person }}, {{ page.client.quote-person-title }}</cite>
        </blockquote>
      </div>
      {% endif %}
    </div>
    <div class="posts-page-navigation">
      <div class="left">
        {% if page.previous.url %}<em>Previously:</em><br>
        <a href="{{page.previous.url}}" title="Previous Post:
        {{page.previous.title}}">{{page.previous.title}}</a>
        {% endif %}
      </div>
      <div class="right">
        {% if page.next.url %}<em>Next Up:</em><br>
        <a href="{{page.next.url}}" title="next Post:
        {{page.next.title}}">{{page.next.title}}</a>
        {% endif %}
      </div>
    </div>
  </article>
</div>